<style>
    th, td {padding: 20px;}
</style>

<div>Start Date: {{brevet.date}}</div>
<div>Start Time: {{brevet.time}}</div>
<div>Brevet Distance: {{brevet.dist}}</div>

<table>
    <tr>
        <th>km</th>
	<th>mi</th>
        <th>Location Name</th>
        <th>Open Time</th>
        <th>Close Time</th>
    </tr>

    {% for row in controls %}
        <tr>
            <td>{{row.km}}</td>
            <td>{{row.mi}}</td>
            <td>{{row.loc}}</td>
            <td>{{row.open}}</td>
            <td>{{row.close}}</td>
        </tr>
    {% endfor %}

</table>
